.network-diff-tool .body {
    text-align: center;
    color: white;

    .diff-option {
        &.selected {
            border-color: #07ff07;
        }
    }

    .diff-lists {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 10px;
        word-break: break-all;

        ul {
            list-style: none;
            max-width: 40%;

            li {
                cursor: pointer;
                background: black;
                margin-bottom: 10px;
                padding: 5px;
                border: 1px solid;
            }
        }
    }
}
