.network-diff-tool .header {
    padding: 24px 20px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #FFFFFF;

    .record-dot {
        margin-right: 20px;
    }
}
